<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div> <!-- end of navbar-header -->

    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Manage Content", new_content_path %></li>
      <li><%= link_to("Dashboard", contents_path) %></li>
    </ul>
    </div> <!-- end of mynavbar -->
  </div>
</nav>
